@page "{id:int}"
@model Chinook.Pages.Albums.DetailsModel

<h1>Album Details</h1>

<p><strong>Album:</strong> @Model.Album.Title</p>
<p><strong>Artist:</strong> @Model.Album.Artist.Name</p>

<h4>Tracks:</h4>
@if (Model.Album.Tracks.Count > 0)
{
    <ul>
    @foreach (var track in Model.Album.Tracks)
    {
        <li>@track.Name (@track.Milliseconds ms)</li>
    }
    </ul>
}
else
{
    <p><em>No tracks available.</em></p>
}

<a asp-page="/Index" class="btn btn-secondary mt-3">Back</a>
